In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/FEYZA ŞAHİN/Desktop/asd.csv')

In [3]:
df

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F
...,...,...,...,...,...
61,Cool,Rock,Vodka,Coca Cola/Pepsi,M
62,Cool,Hip hop,Beer,Coca Cola/Pepsi,M
63,Neutral,Hip hop,Doesn't drink,Fanta,M
64,Cool,Rock,Wine,Coca Cola/Pepsi,M
65,Cool,Electronic,Beer,Coca Cola/Pepsi,M

In [4]:
#non-numeric to numeric

from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit(df['Favorite Color'])
df['Favorite Color'] = enc.transform(df['Favorite Color'])

enc.fit(df['Favorite Music Genre'])
df['Favorite Music Genre'] = enc.transform(df['Favorite Music Genre'])

enc.fit(df['Favorite Beverage'])
df['Favorite Beverage'] = enc.transform(df['Favorite Beverage'])

enc.fit(df['Favorite Soft Drink'])
df['Favorite Soft Drink'] = enc.transform(df['Favorite Soft Drink'])

enc.fit(df['Gender'])
df['Gender'] = enc.transform(df['Gender'])

In [5]:
df

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,0,6,3,0,0
1,1,2,3,1,0
2,2,6,5,1,0
3,2,1,4,2,0
4,0,6,3,1,0
...,...,...,...,...,...
61,0,6,3,1,1
62,0,2,0,1,1
63,1,2,1,2,1
64,0,6,5,1,1
65,0,0,0,1,1

In [6]:
x = df.drop(labels = ['Gender'], axis=1)
y = df['Gender'].values

In [7]:
x

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink
0,0,6,3,0
1,1,2,3,1
2,2,6,5,1
3,2,1,4,2
4,0,6,3,1
...,...,...,...,...
61,0,6,3,1
62,0,2,0,1
63,1,2,1,2
64,0,6,5,1
65,0,0,0,1

In [8]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [23]:
from sklearn.neighbors import KNeighborsClassifier   #KNN
from sklearn.svm import SVC                          #SVM
from sklearn.linear_model import LogisticRegression  #LogisticRegression

In [37]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.05)

In [38]:
#3 algorithms in an array to use respectively

models = []
models.append(('KNN', KNeighborsClassifier()))
models.append(('SVM', SVC()))
models.append(('Log.Reg', LogisticRegression()))

In [39]:
for name, model in models:
    model.fit(x_train, y_train)
    print(name, '  Accuracy for training set:', model.score(x_train, y_train))
    print('      Accuracy for test set:', model.score(x_test, y_test), '\n')

KNN   Accuracy for training set: 0.8225806451612904
      Accuracy for test set: 0.75

SVM   Accuracy for training set: 0.7419354838709677
      Accuracy for test set: 0.75

Log.Reg   Accuracy for training set: 0.6290322580645161
      Accuracy for test set: 0.75